<div class="container">
    <div class="h3">Woops, look like you're not authorized to view this pages.</div>
    <div>would you prefer to <a asp-controller="Gallery" asp-action="Logout">log in as someone else</a></div>
</div>